<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='icons/table.png') }}">
    <title>Tabela</title>
</head>
<body>
    <h1>Tabela</h1>
    <div>
        {% if table_html %}
        {{ table_html | safe }}
        {% else %}
        <p>Nenhum dado disponivel.</p>
        {% endif %}
    </div>
</body>
</html>